:root {
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    /* Neutral */
    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);
    font-size: 13px;   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    /*Weights 500 600*/
}

section {
    display: grid;
    min-height: 100vh;
    background-color: var(--light-grayish-blue);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    color: var(--white);
    row-gap: 20px;

    width: 80%;
    margin: 5vh auto;
}

.first {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--moderate-violet);

    row-gap: 15px;
    padding: 0px 25px 15px 25px;
    justify-items: end;
    border-radius: 10px;
}

.first .quota {
    grid-column: 2;
    grid-row: 1
}

.first p {
    grid-column: span 2;
}

.first .title {
    grid-column: 1 / span 2;
}

.second {
    display: grid;
    row-gap: 15px;

    background-color: var(--very-dark-grayish-blue);
    padding: 25px 25px;
    border-radius: 10px;
}

.third {
    display: grid;
    row-gap: 15px;

    background-color: var(--white);
    color: var(--very-dark-grayish-blue);
    padding: 25px 25px;
    border-radius: 10px;
}

.fourth {
    display: grid;
    row-gap: 15px;

    background-color: var(--very-dark-blackish-blue);
    color: var(--white);
    padding: 25px 25px;
    border-radius: 10px;
}

.fifth {
    display: grid;
    row-gap: 15px;

    background-color: var(--white);
    color: var(--very-dark-grayish-blue);
    padding: 25px 25px;
    border-radius: 10px;
}

.fifth h1 {
    font-size: 18px;
}

.description {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
    align-items: center;
}

.description img {
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.description h2 {
    font-weight: 500;
    color: inherit;
    font-size: 12px;
}

.description span {
    color: inherit;
    opacity: 50%;
    font-size: 11px;
}

.container .title {
    text-wrap: balance;
    margin-top: -40px;
}

.container p {
    font-weight: 500;
    color: inherit;
    opacity: 70%;
    line-height: 1.3rem;
    margin: 0px 25px 0px 0px;
}

@media (min-width: 1020px) {
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;

        grid-template-areas: 
        "first first second fifth"
        "thrid fourth fourth fifth";
    }

    .title{
        z-index: 999;
    }

    .quota{
        position: relative;
        left: 80px;
    }

    .first{
        justify-items: start;
    }

    .container h1{ 
        font-weight: 600;
        font-size: 18px;
        text-wrap: pretty;
    }

    .container p{
        margin: 0px
    }

    .first {
        grid-area: first;
    }

    .second {
        grid-area: second;
    }

    .third {
        grid-area: thrid;
    }

    .fourth {
        grid-area: fourth;
    }

    .fifth {
        grid-area: fifth;
    }
}